@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body, main{
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
}
main{
  /*Impede que o usuario copie */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Campo que insere a imagem  */
.personal-image {
  padding-left: 45%;
  padding-top:1rem;
  background-color: transparent;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: absolute !important;
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 100%;
}

.personal-avatar{
  cursor: pointer;
  position: relative;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
  margin-top: 3rem;
  margin-left: 3.2rem;
  width: 55px;
  height: 55px;
}

.accordion{
  margin-top:12rem;
  padding-bottom: 2rem;
  position: relative;
}

/* tabela */
.table{
   /* Impede que copiem as informações */
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#button_infor{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-family: Lucida Sans Unicode, Arial, sans-serif !important;
  border: none;
  background: transparent;
  width: 100%;
}

/*Os dados do usuario */
.dados {
  text-align: center;
}


#atualizar{
  position: absolute;
  width: 7rem !important;
  height: 2.5rem !important;
  font-size: 15px !important;
  background-color: #FAFAFA;
  color: black;
  top: 23rem;
  left: 85%;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 1.5s;
}
#atualizar:hover{
  background-color: darkgrey;
  color: black;
}

#cancelar{
  position:absolute;
  width: 7rem !important;
  height: 2.5rem !important;
  font-size: 15px !important;
  background-color: #FAFAFA;
  color: black;
  top: 23rem;
  left: 74%;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 1.5s;
}
#cancelar:hover{
  background-color: darkgrey;
  color: black;
}
#submit{
  position:absolute;
  width: 6rem !important;
  height: 2rem !important;
  font-size: 15px !important;
  background-color: #FAFAFA;
  color: black;
  top:  4rem;
  left: 11rem;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 1.5s;
}
#submit:hover{
  background-color: darkgrey;
  color: black;
}

#apresentaca{
  text-align: center;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.alun{
  color: #E86C11;
}

