@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}
/*Scrollbar Chrome*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #E86C11;
    border-radius: 30px;
  }

html,
body {
	font-family: 'Oswald', sans-serif;
	background: #eeeeee;
}
