@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
a {
    color: #fff !important;
    transition: 0.3s;
}

.nav-logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    background: black;
    height: 4rem;
}

nav a:hover {
    opacity: 0.7;
    text-decoration: none;
}

nav img {
    height: 45px;
    margin-right: 20px;
}